.btn {
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: black;
  border-radius: 0.5em;
  padding: 0.5em 1em 0.5em 1em;
  &:hover {
    background-color: grey;
  }
}